@import "../css/config";

.index-page {
    flex: 1 0 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    
    font-family: inherit;

    .packages {
        align-self: center;
        max-width: $max-width;
        width: 100%;
        
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;

        @media (max-width: 800px){
            flex-direction: column;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }


        section {
            flex: 1;
            padding-right: 30px;

            &:last-child {
                padding-right: 0;
            }

            h3 {
                color: lighten(#203d53, 10);
            }

            p {
                color: #203d53;
            }
        }
    }
}